In [21]:
import os
print(os.getcwd())

C:\Users\swath\OneDrive\Desktop

In [24]:
import pandas as pd
import numpy as np
import seaborn as snsprint

import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [25]:
df = pd.read_csv("C:/Users/swath/Downloads/Task1_AIML/Titanic-Dataset.csv")  
print("Initial Data:")
print(df.head())

Initial Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
print("\nInfo:")
print(df.info())
print("\nMissing Values:")
print(df.isnull().sum())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

df.drop(columns=['Cabin'], inplace=True, errors='ignore')

In [27]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])           
df['Embarked'] = le.fit_transform(df['Embarked'])

In [28]:
df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True, errors='ignore')

In [29]:
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

In [30]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['Fare'] >= lower_bound) & (df['Fare'] <= upper_bound)]

In [31]:
print(df.info())
df.to_csv("titanic_cleaned.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  775 non-null    int64
 1   Pclass    775 non-null    int64
 2   Sex       775 non-null    int32
 3   Age       775 non-null    float64
 4   SibSp     775 non-null    int64
 5   Parch     775 non-null    int64
 6   Fare      775 non-null    float64
 7   Embarked  775 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 48.4 KB
None